<footer>
    <div class="contenido">
        <h3>EcoRuta</h3>
        <p>La Araucanía, Chile</p>
    </div>
    <div class="redes-sociales">
        <h3>Síguenos</h3>
        <a href="https://www.facebook.com/ecoruta" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a href="https://www.instagram.com/ecoruta" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://www.twitter.com/ecoruta" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
</footer>